<div class="card grid-margin stretch-card">
    <div class="card-body">
        <h3 class="card-title text-md-center text-lg-center">{{ title }}</h3>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-sm-between align-items-center">
            <fa-icon [icon]="infoIcon" [size]="'3x'" style="color:rgb(229, 170, 7);"></fa-icon>
            &nbsp;&nbsp;
            <h1 class="ml-1 order-md-1 order-xl-0" style="font-size: 4em">
                {{ mainData }}<span style="font-size: 0.7em">{{ label }}</span>
            </h1>


        </div>

    </div>
</div>